
<h3><b><u>Technical Qualification</u></b></h3>&nbsp;&nbsp;&nbsp;
<br><br>
<div style="background-image:url('assets/img/bg3.jpeg');">
<div>
  <h4><b>Languages </b>&nbsp;</h4><h6><p>C, Python3, Object-Oriented Concepts</p></h6><br>
</div>
<div>
  <h4><b>Database </b>&nbsp;</h4><h6><p> PL/pgSQL, MongoDB(Basics), MYSQL</p></h6><br>
</div>
<div>
<h4><b>  Operating Systems </b>&nbsp;</h4><h6><p>Windows, Linux</p></h6><br>
</div>
<div>
 <h4><b> Web Skills and FrameWork</b> &nbsp;</h4> <h6><p>HTML, CSS, Ionic4 , Angular7</p></h6>

  </div>
</div>