.select{
    color:white;
}
.formRight select {
    background: none repeat scroll 0 0 rgb(24, 19, 21);
    border: 2px solid rgb(32, 21, 21);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgb(16, 18, 19) inset;
    height: 40px;
    margin: 0 0 0 25px;
    padding: 10px;
    width: 130px;
    color: white;
    size: 5cm;
}
// .h3{
//     color:red;
// }
.alignright {
    float: right;
    // color: black;
    padding-left: 20px;
}
.b1{
    border: 3px solid black;
    height: 40px;
    width:250px;
    border-color:black;
    border-radius: 5px 5px 5px 5px;
}