<div class="p1">
    <p class="p2"><i><b><h1>Update User</h1></b></i></p>

<p><b>____________________________________________________________________________</b></p>
<br>
<h3><i> <b>Enter Id :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></i>&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" value="Id" style="padding: 10px;box-sizing: 10px;border-radius: 5px 5px 5px 5px;height: 10px;width:250px;border-color: black;"></h3>
<h3><i> <b>Old Password :</b></i>&nbsp;&nbsp;&nbsp;<input type="password" value="Password" style="padding: 10px;box-sizing: 10px;border-radius: 5px 5px 5px 5px;height: 10px;width:300px;border-color: black;"></h3>
 
    <h3><i> <b>First Name :</b></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="First name" style="padding: 10px;box-sizing: 10px;border-radius: 5px 5px 5px 5px;height: 10px;width:300px;border-color: black;"></h3>
    
    <h3><i> <b>Last Name :</b></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="Last name" style="padding: 10px;box-sizing: 10px;border-radius: 5px 5px 5px 5px;height: 10px;width:300px;border-color: black;"></h3>
    
    <h3><i> <b>Email Id :&nbsp;&nbsp;&nbsp;&nbsp;</b></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="email id" style="padding: 10px;box-sizing: 10px;border-radius: 5px 5px 5px 5px;height: 10px;width:300px;border-color: black;"></h3>
    
    <h3><i> <b>Contact :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" value="number" style="padding: 10px;box-sizing: 10px;border-radius: 5px 5px 5px 5px;height: 10px;width:300px;border-color: black;"></h3>
    
    <h3><i> <b>New Password :</b></i>&nbsp;&nbsp;<input type="password" value="password" style="padding: 10px;box-sizing: 10px;border-radius: 5px 5px 5px 5px;height: 10px;width:300px;border-color: black;"></h3>
    <div class="p1"><button style="border-radius: 5px 5px 5px 5px;height: 30px;width:150px;background-color: rgb(6, 124, 55);color: white;border-color: black;"><b>Update</b></button></div>
    <br>

</div>
<div class="p3">
    <button style="border-radius: 5px 5px 5px 5px;height: 30px;width:150px;background-color: rgb(19, 20, 77);color: white;border-color: black;"><b>Submit</b></button>
   
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button style="border-radius: 5px 5px 5px 5px;height: 30px;width:150px;background-color: rgb(233, 16, 16);color: white;border-color: black;"><b>Cancel</b></button>
</div>