<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3><b><u>Work Experience</u></b></h3>&nbsp;&nbsp;&nbsp;
<br><br>
<div style="background-image:url('assets/img/bg3.jpeg');">
<h4><b>Company Name : Machinjet Pvt . Ltd.</b></h4><h6>&nbsp;&nbsp;<i class="fa fa-map-marker" style="font-size:24px"></i>&nbsp;Pune, India</h6><br><br>
<h4><b><u>IT INTERN</u></b></h4><h6>&nbsp;&nbsp;Jun. 2019 - Dec. 2019</h6><br>
<ul>

    <h5><li>Building hybrid Apps Using Ionic-4 Framework with Angular 7.</li></h5><br>
  
    <h5><li>Implemented backend using mysql with python flask.</li></h5>

</ul>
</div>