<div class="p1">
    <p class="p2"><i><b><h1>Search User Record</h1></b></i></p>

<p><b>_____________________________________________________________________________________</b></p>
<br>
<h3><i> <b>Enter Id :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></i>&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" value="Id" style="padding: 10px;box-sizing: 10px;border-radius: 5px 5px 5px 5px;height: 10px;width:250px;border-color: black;"></h3>
<h3><i> <b>Enter Password :</b></i>&nbsp;&nbsp;&nbsp;<input type="password" value="" style="padding: 10px;box-sizing: 10px;border-radius: 5px 5px 5px 5px;height: 10px;width:300px;border-color: black;"></h3>
<br><div class="p3">
    <button style="border-radius: 5px 5px 5px 5px;height: 30px;width:150px;background-color: rgb(19, 20, 77);color: white;border-color: black;"><b>Search</b></button>
   
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button style="border-radius: 5px 5px 5px 5px;height: 30px;width:150px;background-color: rgb(233, 16, 16);color: white;border-color: black;"><b>Cancel</b></button>
</div>
    <br>
<br><br><br>
<br><br><br>
</div>