<!-- &nbsp;<br>
<div class="p2">
<span class="border border-dark"></span>

    <img src="assets/img/mypic.jpeg" class="p1" height="300" width="300" >
    
</div>
<br>
<span class="a">
    &emsp;&emsp;&emsp;<h5><b><i>Jayshree Pawar</i></b></h5>
</span> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="background-image:url('assets/img/bg6.jpg');" >

  <div class="card">
  <img src="assets/img/mypic.jpeg" alt="jayshree" style="width:100%">
  <h4><b><i>Jayshree Suresh Pawar</i></b></h4>
  <p class="title"><i>Student at Savitribai Phule Pune University</i></p>
  <p><b><i>pawarjayshreegx@gmail.com</i></b></p>
  <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a> -->
  <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
  <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
  <p><button (click)="newChange()">Contact</button></p>
</div>
</div>